services:
  api:
    restart: always
    environment:
      FLASK_ENV: production
      FLASK_DEBUG: 0
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M

  db:
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
