services:
  api:
    build:
      context: .
      target: builder
    command: flask run --host=0.0.0.0 --port=8000 --reload
    environment:
      FLASK_ENV: development
      FLASK_DEBUG: 1
    volumes:
      - ./app:/app/app
